In [2]:
#pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp39-cp39-win_amd64.whl (382 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymongo

In [5]:
#mongo db connection
client = pymongo.MongoClient("mongodb+srv://jesoto:carpediem@cluster0.cqoqoub.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [6]:
client

MongoClient(host=['ac-u9zwbj9-shard-00-02.cqoqoub.mongodb.net:27017', 'ac-u9zwbj9-shard-00-00.cqoqoub.mongodb.net:27017', 'ac-u9zwbj9-shard-00-01.cqoqoub.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-v8k1xb-shard-0', tls=True)

- first you have to create a database
- in case of mongo db, as mongo is a document database, we store the data as json or dictionaries
- here in mongo we have to create a collection
- then there we can create a document
- different to sql, we dont have a schema of a table because is unstructured data

In [7]:
client = pymongo.MongoClient("mongodb+srv://jesoto:carpediem@cluster0.cqoqoub.mongodb.net/?retryWrites=true&w=majority")

In [8]:
#we are going to create a database inside cllient with the name of pwskills
df = client['pwskills']

In [9]:
#we create a collection that is the simil as a table in SQL
coll_create = db['my_record']

In [10]:
#creating real data as document

data = {
    "name":"jesus",
    "class":"data science master",
    "timing":"flexi"
}

In [11]:
#inserting data 
coll_create.insert_one(data)

- now we can see that there is a record in the mongo db

![pic](mongo1.png)

- we dont have to create a schema

In [20]:
data1 = {"mailid":"jessu@gamil.com",
         "phone_number": "2131234"}

coll_create.insert_one(data1)

In [21]:
data2 = {
    "list_course":["data science master","web dev","java"],
    "mentor":["krisj","jesus"]
}

coll_create.insert_one(data2)

In [22]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [23]:
coll_create.insert_many(data3)

In [25]:
data4 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [28]:
coll_create.insert_one(data4)

In [30]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

coll_create.insert_many(list_of_records)

In [41]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('642a5bb26b9f4136bec9c523'), 'name': 'jesus', 'class': 'data science master', 'timing': 'flexi'}
{'_id': ObjectId('642a5e2a6b9f4136bec9c524'), 'mailid': 'jessu@gamil.com', 'phone_number': '2131234'}
{'_id': ObjectId('642a5e836b9f4136bec9c525'), 'list_course': ['data science master', 'web dev', 'java'], 'mentor': ['krisj', 'jesus']}
{'_id': ObjectId('642a5ebe6b9f4136bec9c526'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c527'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c528'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c529'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c52a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c52b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c52c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c52d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c52e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c52f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c530'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c531'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('642a5f366b9f4136bec9c532'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('642a5f616b9f4136bec9c533'), 'companyName': 'pwskilss', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('642a5f616b9f4136bec9c534'), 'companyName': 'pwskilss', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('642a5f616b9f4136bec9c535'), 'companyName': 'pwskilss', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskilss', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskilss', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskilss', 'Faculty': 'PQR'}

In [32]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

coll_create.insert_many(random_data)

In [33]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('642a5bb26b9f4136bec9c523'), 'name': 'jesus', 'class': 'data science master', 'timing': 'flexi'}
{'_id': ObjectId('642a5e2a6b9f4136bec9c524'), 'mailid': 'jessu@gamil.com', 'phone_number': '2131234'}
{'_id': ObjectId('642a5e836b9f4136bec9c525'), 'list_course': ['data science master', 'web dev', 'java'], 'mentor': ['krisj', 'jesus']}
{'_id': ObjectId('642a5ebe6b9f4136bec9c526'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c527'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c528'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c529'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c52a'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c52b'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c52c'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c52d'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c52e'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c52f'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c530'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('642a5ebe6b9f4136bec9c531'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('642a5f366b9f4136bec9c532'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('642a5f616b9f4136bec9c533'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('642a5f616b9f4136bec9c534'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('642a5f616b9f4136bec9c535'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [34]:
coll_create.find_one()

{'_id': ObjectId('642a5bb26b9f4136bec9c523'),
 'name': 'jesus',
 'class': 'data science master',
 'timing': 'flexi'}

In [35]:
for i in coll_create.find({"companyName":'iNeuron'}):
    print(i)

{'_id': ObjectId('642a5f616b9f4136bec9c533'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('642a5f616b9f4136bec9c534'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('642a5f616b9f4136bec9c535'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [38]:
for i in coll_create.find({'_id': {'$gte':'4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [40]:
#update a company name
coll_create.update_many({'companyName':'iNeuron'},{'$set':{'companyName':'pwskilss'}})

In [42]:
# drop a database
coll_create.drop()