# Assignment

1. Write a code to print the data present in the second row of the dataframe, df.

In [4]:
import numpy as np
import pandas as pd

dictg = {'A': list(np.arange(0,10)),
        'B': list(np.arange(10,20)),
        'C': list(np.arange(30,40))
        }

df1 = pd.DataFrame(dictg)
df1.iloc[1]

A     1
B    11
C    31
Name: 1, dtype: int32

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

- loc:stands for "location" and is used to select rows and columns based on their labels (i.e., the index and column names). It is used when we want to filter the data based on specific labels or boolean arrays.

- iloc: stands for "integer location" and is used to select rows and columns based on their integer position. It is used when we want to filter the data based on numerical indices or slices.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [19]:

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.009341  0.729003  0.317397  0.687219  0.667013  0.863363
2  0.182240  0.727618  0.903446  0.719213  0.930362  0.533364
3  0.122776  0.907705  0.805123  0.142056  0.784107  0.143164
4  0.474584  0.237023  0.580899  0.326743  0.990946  0.629452
5  0.495254  0.123830  0.942602  0.625750  0.680699  0.791629
6  0.934105  0.830475  0.519869  0.727563  0.918256  0.486488

In [10]:
new_df = df1.reindex([3,0,1,2])
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.770893  0.721065  0.535214  0.528466  0.943765  0.452146
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.369304  0.185552  0.840354  0.549223  0.994375  0.931238
2  0.228394  0.788400  0.294592  0.156771  0.282245  0.035969

In [8]:
new_df.loc[2]

column_1    0.228394
column_2    0.788400
column_3    0.294592
column_4    0.156771
column_5    0.282245
column_6    0.035969
Name: 2, dtype: float64

In [9]:
new_df.iloc[2]

column_1    0.369304
column_2    0.185552
column_3    0.840354
column_4    0.549223
column_5    0.994375
column_6    0.931238
Name: 1, dtype: float64

Did you observe any difference in both the outputs? If so then explain it. 
- Yes, the first statement new_df.loc[2] refers to the index with the name '2' and the statement new_df.iloc[2] refres to the 3 index of the datafre based on the numerical order.

Q4. Write a code to find the following statistical measurements for the above dataframe df1:\
(i) mean of each and every column present in the dataframe. \
(ii) standard deviation of column, ‘column_2’

In [15]:
df1.describe().loc[['mean','std']]

      column_1  column_2  column_3  column_4  column_5  column_6
mean  0.570680  0.644163  0.485211  0.500619  0.684651  0.289064
std   0.223126  0.270652  0.297216  0.205459  0.359977  0.349536

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.\
If you are getting errors in executing it then explain why.\
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [22]:
df1.loc[2,'column_2'] = 'uwu'

In [24]:
df1.column_2.mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

- now the columns_2 has a string value, and the mean function only allows numbers as imput, so thats why is getting an errors

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In Pandas, a window function is used to perform calculations on a subset of data called a "window". The window function takes in a set of rows (or columns) and applies a function to the values within the window to produce a new set of values.\
\
The window function can be applied using the rolling(), expanding(), and ewm() methods in Pandas. Here is a brief explanation of each:\

- rolling(): This method is used to create a rolling window object that can be used to perform rolling window calculations. The rolling() method is commonly used to calculate moving averages or rolling sums of a dataset over a specified window size.

- expanding(): This method is used to create an expanding window object that can be used to perform expanding window calculations. The expanding() method calculates the statistic on the entire dataset up to that point, which includes all previous values.

- ewm(): This method is used to create an exponentially weighted moving window object. The ewm() method applies exponentially decreasing weights to older observations, giving more weight to recent observations.\
\
Some of the commonly used window functions in Pandas include:\
\
mean(): Computes the mean of the values in the window.\
sum(): Computes the sum of the values in the window.\
min(): Computes the minimum of the values in the window.\
max(): Computes the maximum of the values in the window.\
std(): Computes the standard deviation of the values in the window.\
var(): Computes the variance of the values in the window.\
median(): Computes the median of the values in the window.\
quantile(): Computes the quantile of the values in the window.\
corr(): Computes the correlation of the values in the window.\
cov(): Computes the covariance of the values in the window.\

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [25]:
pd.datetime.now()

C:\Users\PC\AppData\Local\Temp\ipykernel_7640\627754903.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime.now()

datetime.datetime(2023, 4, 23, 2, 34, 56, 217327)

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.