# Assignment

1. Write a code to print the data present in the second row of the dataframe, df.

In [7]:
import numpy as np
import pandas as pd

dictg = {'A': list(np.arange(0,10)),
        'B': list(np.arange(10,20)),
        'C': list(np.arange(30,40))
        }

df1 = pd.DataFrame(dictg)
df1.iloc[1]

A     1
B    11
C    31
Name: 1, dtype: int32

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

- loc:stands for "location" and is used to select rows and columns based on their labels (i.e., the index and column names). It is used when we want to filter the data based on specific labels or boolean arrays.

- iloc: stands for "integer location" and is used to select rows and columns based on their integer position. It is used when we want to filter the data based on numerical indices or slices.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [8]:

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.547806  0.852948  0.445345  0.827678  0.614203  0.026915
2  0.640888  0.392206  0.995477  0.845288  0.857601  0.433217
3  0.595268  0.171973  0.793932  0.743211  0.101372  0.239925
4  0.886246  0.051085  0.594196  0.722966  0.638486  0.467782
5  0.781338  0.594957  0.775944  0.246286  0.585180  0.848931
6  0.031158  0.578355  0.230144  0.485673  0.266297  0.911210

In [9]:
new_df = df1.reindex([3,0,1,2])
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.595268  0.171973  0.793932  0.743211  0.101372  0.239925
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.547806  0.852948  0.445345  0.827678  0.614203  0.026915
2  0.640888  0.392206  0.995477  0.845288  0.857601  0.433217

In [10]:
new_df.loc[2]

column_1    0.640888
column_2    0.392206
column_3    0.995477
column_4    0.845288
column_5    0.857601
column_6    0.433217
Name: 2, dtype: float64

In [11]:
new_df.iloc[2]

column_1    0.547806
column_2    0.852948
column_3    0.445345
column_4    0.827678
column_5    0.614203
column_6    0.026915
Name: 1, dtype: float64

Did you observe any difference in both the outputs? If so then explain it. 
- Yes, the first statement new_df.loc[2] refers to the index with the name '2' and the statement new_df.iloc[2] refres to the 3 index of the datafre based on the numerical order.

Q4. Write a code to find the following statistical measurements for the above dataframe df1:\
(i) mean of each and every column present in the dataframe. \
(ii) standard deviation of column, ‘column_2’

In [12]:
df1.describe().loc[['mean','std']]

      column_1  column_2  column_3  column_4  column_5  column_6
mean  0.580451  0.440254  0.639173  0.645184  0.510523  0.487997
std   0.296825  0.296330  0.274411  0.233910  0.275758  0.342616

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.\
If you are getting errors in executing it then explain why.\
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [13]:
df1.loc[2,'column_2'] = 'uwu'

In [14]:
df1.column_2.mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

- now the columns_2 has a string value, and the mean function only allows numbers as imput, so thats why is getting an errors

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In Pandas, a window function is used to perform calculations on a subset of data called a "window". The window function takes in a set of rows (or columns) and applies a function to the values within the window to produce a new set of values.\
\
The window function can be applied using the rolling(), expanding(), and ewm() methods in Pandas. Here is a brief explanation of each:\

- rolling(): This method is used to create a rolling window object that can be used to perform rolling window calculations. The rolling() method is commonly used to calculate moving averages or rolling sums of a dataset over a specified window size.

- expanding(): This method is used to create an expanding window object that can be used to perform expanding window calculations. The expanding() method calculates the statistic on the entire dataset up to that point, which includes all previous values.

- ewm(): This method is used to create an exponentially weighted moving window object. The ewm() method applies exponentially decreasing weights to older observations, giving more weight to recent observations.\
\
Some of the commonly used window functions in Pandas include:\
\
mean(): Computes the mean of the values in the window.\
sum(): Computes the sum of the values in the window.\
min(): Computes the minimum of the values in the window.\
max(): Computes the maximum of the values in the window.\
std(): Computes the standard deviation of the values in the window.\
var(): Computes the variance of the values in the window.\
median(): Computes the median of the values in the window.\
quantile(): Computes the quantile of the values in the window.\
corr(): Computes the correlation of the values in the window.\
cov(): Computes the covariance of the values in the window.\

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [16]:
pd.datetime.now()

AttributeError: module 'pandas' has no attribute 'dt'

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [31]:
import pandas as pd

# get the input dates from the user
start_date = input("Enter start date (YYYY-MM-DD): ")
end_date = input("Enter end date (YYYY-MM-DD): ")

# convert input dates to datetime format
start_date = pd.to_datetime(start_date)
end_date = pd.to_datetime(end_date)

# calculate the difference between the dates using Pandas time delta
diff = end_date - start_date

diff
# extract the number of days, hours, and minutes from the time delta
days = diff.days
hours = diff.days*24
minutes = hours*60

# display the result
print(f"The difference between {start_date} and {end_date} is {days} days, {hours} hours, and {minutes} minutes.")

The difference between 2023-04-23 00:00:00 and 2023-06-24 00:00:00 is 62 days, 1488 hours, and 89280 minutes.

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# prompt user for file path, column name, and category order
file_path = input("Enter CSV file path: ")
column_name = input("Enter column name: ")
category_order = input("Enter category order separated by commas: ").split(",")

# read CSV file into a pandas dataframe
data = pd.read_csv(file_path)

# convert specified column to categorical data type
data[column_name] = pd.Categorical(data[column_name], categories=category_order, ordered=True)

# sort the data by the categorical column
data = data.sort_values(by=[column_name])

# display the sorted data
print(data)

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# prompt user for file path
file_path = input("Enter CSV file path: ")

# read CSV file into a pandas dataframe
data = pd.read_csv(file_path)

# convert date column to datetime format and set it as the index
data['Date'] = pd.to_datetime(data['Date'])
data.set_index('Date', inplace=True)

# group data by product category and resample by month
grouped_data = data.groupby('Product Category').resample('M').sum()

# plot stacked bar chart
grouped_data.plot(kind='bar', stacked=True)

# set plot title and axis labels
plt.title('Sales by Product Category over Time')
plt.xlabel('Month')
plt.ylabel('Sales')

# display plot
plt.show()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

In [ ]:
import pandas as pd

# prompt user for file path
file_path = input("Enter CSV file path: ")

# read CSV file into a pandas dataframe
data = pd.read_csv(file_path)

# calculate mean, median, and mode of test scores
mean_score = data['Test Score'].mean()
median_score = data['Test Score'].median()
mode_score = data['Test Score'].mode().iloc[0]

# create a new dataframe to display the results
results = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Test Score': [mean_score, median_score, mode_score]
})

# display the results
print(results)