# Assingment

In [1]:
import pandas as pd

1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [6]:
a = pd.Series([4,8,15,16,23,42])

In [4]:
print(a)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [10]:
b = [1,2,3,4,5,6,7,8,9,10]

In [11]:
print(pd.Series(b))

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

3. Create a Pandas DataFrame that contains the following data:

In [13]:
mydict = {'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender': ['Female','Male','Female']}

In [14]:
pd.DataFrame(mydict)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.




- In pandas, a DataFrame is a two-dimensional tabular data structure with labeled axes (rows and columns) that can hold data of different types (numeric, string, boolean, etc.). It can be thought of as a spreadsheet or SQL table. The DataFrame is the most commonly used data structure in pandas and is used for data manipulation, analysis, and visualization.

- On the other hand, a pandas Series is a one-dimensional array-like object that can hold data of any type (numeric, string, boolean, etc.). It is similar to a column in a spreadsheet or a vector in R. A Series has an index, which labels the values, and can be used to access the data.

In [15]:
import pandas as pd

# create a dictionary of data
data = {'name': ['John', 'Alice', 'Bob'],
        'age': [25, 30, 35],
        'gender': ['Male', 'Female', 'Male']}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# print the DataFrame
print(df)

    name  age  gender
0   John   25    Male
1  Alice   30  Female
2    Bob   35    Male

In [16]:
# create a Series from the 'age' column of the DataFrame
age_series = df['age']

# print the Series
print(age_series)

0    25
1    30
2    35
Name: age, dtype: int64

5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [19]:
# head() and tail(): These functions are used to display the first or last few rows of a DataFrame

import pandas as pd
df = pd.read_csv('services.csv')
print(df.head())
print(df.tail())

   id  location_id  program_id accepted_payments alternate_name  \
0   1            1         NaN               NaN            NaN
1   2            2         NaN               NaN            NaN
2   3            3         NaN               NaN            NaN
3   4            4         NaN               NaN            NaN
4   5            5         NaN               NaN            NaN

                           application_process  \
0                   Walk in or apply by phone.
1           Apply by phone for an appointment.
2  Phone for information (403-4300 Ext. 4322).
3                              Apply by phone.
4                       Phone for information.

                                            audience  \
0  Older adults age 55 or over, ethnic minorities...
1       Residents of San Mateo County age 55 or over
2  Older adults age 55 or over who can benefit fr...
3  Parents, children, families with problems of c...
4  Low-income working families with children tran...

                                         description  \
0  A walk-in center for older adults that provide...
1  Provides training and job placement to eligibl...
2  Offers supportive counseling services to San M...
3  Provides supervised visitation services and a ...
4  Provides fixed 8% short term loans to eligible...

                                         eligibility email  ...  \
0  Age 55 or over for most programs, age 60 or ov...   NaN  ...
1  Age 55 or over, county resident and willing an...   NaN  ...
2        Resident of San Mateo County age 55 or over   NaN  ...
3                                               None   NaN  ...
4  Eligibility: Low-income family with legal cust...   NaN  ...

  interpretation_services                                           keywords  \
0                     NaN  ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1                     NaN  EMPLOYMENT/TRAINING SERVICES, Job Development,...
2                     NaN  Geriatric Counseling, Older Adults, Gay, Lesbi...
3                     NaN  INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
4                     NaN     COMMUNITY SERVICES, Speakers, Automobile Loans

  languages                               name required_documents  \
0       NaN    Fair Oaks Adult Activity Center                NaN
1       NaN   Second Career Employment Program                NaN
2       NaN             Senior Peer Counseling                NaN
3       NaN           Family Visitation Center                NaN
4       NaN  Economic Self-Sufficiency Program                NaN

      service_areas  status wait_time website taxonomy_ids
0             Colma  active  No wait.     NaN          NaN
1  San Mateo County  active   Varies.     NaN          NaN
2  San Mateo County  active   Varies.     NaN          NaN
3  San Mateo County  active  No wait.     NaN          NaN
4  San Mateo County  active       NaN     NaN          NaN

[5 rows x 22 columns]
    id  location_id  program_id         accepted_payments  \
18  19           19         NaN                       NaN
19  20           20         NaN                       NaN
20  21           21         NaN                       NaN
21  22           22         NaN  Cash, Check, Credit Card
22  23           22         NaN                       NaN

           alternate_name                             application_process  \
18                    NaN  Call for screening appointment (650-347-3648).
19                    NaN                                        Walk in.
20                    NaN                 By phone during business hours.
21  Fotos para pasaportes               Walk in or apply by phone or mail
22                    NaN               Walk in or apply by phone or mail

                                             audience  \
18                                                NaN
19                                                NaN
20                                                NaN
21  Profit and nonprofit businesses, the public, m...
22  Second service and nonprofit businesses, the p...

                                          description  \
18  Provides free medical and dental care to those...
19              no unrequired fields for this service
20                                just a test service
21  [NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...
22  [NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...

                                        eligibility                  email  \
18  Low-income person without access to health care                    NaN
19                                              NaN                    NaN
20                                              NaN                    NaN
21                                             None  passports@example.org
22                                             None                    NaN

    ...                            interpretation_services  \
18  ...                                                NaN
19  ...                                                NaN
20  ...                                                NaN
21  ...  We offer 3-way interpretation services over th...
22  ...                                                NaN

                                             keywords languages  \
18  HEALTH SERVICES, Outpatient Care, Community Cl...       NaN
19                                                NaN       NaN
20                                                NaN       NaN
21                                    Salud, Medicina   Spanish
22         Ruby on Rails/Postgres/Redis, testing, wic       NaN

                               name                        required_documents  \
18    San Mateo Free Medical Clinic                                       NaN
19        Service with blank fields                                       NaN
20  Service for Admin Test Location                                       NaN
21                  Passport Photos  Government-issued picture identification
22             Example Service Name                                       NaN

                       service_areas    status            wait_time  \
18               Belmont, Burlingame    active              Varies.
19                               NaN   defunct                  NaN
20                  San Mateo County  inactive                  NaN
21  Alameda County, San Mateo County    active  No wait to 2 weeks.
22  San Mateo County, Alameda County    active   No wait to 2 weeks

                   website                              taxonomy_ids
18                     NaN                                       NaN
19                     NaN                                       NaN
20                     NaN                                       NaN
21  http://www.example.com  105, 108, 108-05, 108-05-01, 111, 111-05
22  http://www.example.com                                       NaN

[5 rows x 22 columns]

In [20]:
#describe(): This function provides summary statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, etc. For example:
df.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

- groupby(): This function is used to group data based on one or more columns, and perform aggregation on the groups.
- sort_values(): This function is used to sort the DataFrame based on one or more columns
- fillna(): This function is used to fill missing values in the DataFrame with a specified value or method.
- drop(): This function is used to remove rows or columns from the DataFrame based on a specified condition
- merge(): This function is used to combine two DataFrames based on a common column.

6. Which of the following is mutable in nature Series, DataFrame, Panel?

- Both Series and DataFrame are mutable in nature. This means that their values can be modified after they are created.

7. Create a DataFrame using multiple Series. Explain with an example.

In [21]:
import pandas as pd

# create a Series for each column
names = pd.Series(['John', 'Alice', 'Bob'])
ages = pd.Series([25, 30, 35])
genders = pd.Series(['M', 'F', 'M'])

# create a dictionary of Series
data = {'Name': names, 'Age': ages, 'Gender': genders}

# create the DataFrame from the dictionary of Series
df = pd.DataFrame(data)

# print the DataFrame
print(df)

    Name  Age Gender
0   John   25      M
1  Alice   30      F
2    Bob   35      M